@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.button-container {
  display: flex;
  background-color: rgb(27, 133, 219);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
              rgba(27, 133, 219, 0.5) 5px 10px 15px;
  position: fixed; /* Fix position to the viewport */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Adjust for the container's width */
  bottom: 20px; /* Distance from the bottom */
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}


/*logo button */

/* Parent container styles */
/* Parent container styles */
.logo-container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the start (top) */
  height: 100vh; /* Full height of viewport, adjust as needed */
  padding-top: 20px; /* Add padding to move it a bit down from the top */
}

/* .logo-button styles */
.logo-button {
  font-size: 38px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.logo-button:focus,
.logo-button:hover {
  color: #fff;
}

.logo-button:focus:after,
.logo-button:hover:after {
  width: 100%;
  left: 0%;
}

.logo-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


